.card-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 18rem;
}
.img-container {
  width: 100%;
}
.image {
  width: 150px;
  height: 150px;
}
.oreder-button {
  background-color: rgb(176, 113, 235);
  color: white;
  border: none;
  padding: 6px 25px;
  border-radius:20px;
}