.login-page {
  background-color: white;
  height: 100%;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 65px;
}

.login-sub-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 50px 40px 30px 40px;
  height: 348px;
  border-radius: 2px;
}

.userNameBox,
.passwordBox { 
  border: 1px snow gray;
  height: 33px;
  width: 220px;

}

.userNameBox::placeholder,
.passwordBox::placeholder {
  padding-left: 10px;
  font-size: 16px;
  font-family: arial;
} 

.login-button-new {
  background-color: rgb(90, 154, 100);
  color: white;
  padding: 3px 89px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.error-message {
  width: 160px;
  text-wrap: wrap;
  font-family: arial;
  font-size: 10px;
  color: red;
}

.or-container {
  width: 170px;
}

.hr-line {
  width: 70px;
}

.hr-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.email-login span {
  color: rgb(236, 90, 90);
  font-family: arial;
  font-weight: 550;
  font-size: 13px;
  margin-left: 30px;
  cursor: pointer;
}

.forgotten-password span {
  color: rgb(97, 97, 218);
  font-family: arial;
  font-weight: 550;
  font-size: 13px;
  margin-left: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.dont-have-acvount {
  border: 2px solid black;
  padding: 24px 38px;
  margin-top: 20px;
  border-radius: 2px;
}

.dont-have-acvount span {
  color: rgb(223, 29, 29);
  cursor: pointer;
}

